extends layout

append style
  style.
    p.box { height: 500px; border: 1px solid red; }

block content
  //h1= title
  //p Welcome to #{title}
  p.box Hello World
  p.box Hello World
  p.box Hello World
  p.box Hello World
