doctype 5
html
  head
    //- Parent style block precedes the statements of those who extend from this

    link(rel='stylesheet', href='stylesheets/bootstrap-custom-theme.css')
    //-div
      if env.NODE_ENV == 'development'
        link(rel='stylesheet', href='/css/bootstrap.css')
      else
        link(rel='stylesheet', href='/css/bootstrap.min.css')
    //-div
      if env.NODE_ENV == 'development'
        link(rel='stylesheet', href='font-awesome/css/font-awesome.css')
      else
        link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
    //- Use 'less' dir to alter FA vars (such as @FontAwesomePath)
    link(rel='stylesheet', href='font-awesome/less/font-awesome.css')
    
    link(rel="stylesheet" href="stylesheets/style.css")
     
    block style
  body
    header
    //-header.navbar.navbar-inverse.navbar-fixed-top.bs-docs-nav(role='banner')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='../') Bootstrap
        nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
          ul.nav.navbar-nav
            li.active
              a(href='../getting-started') Getting started
            li
              a(href='../css') CSS
            li
              a(href='../components') Components
            li
              a(href='../javascript') JavaScript
            li
              a(href='../customize') Customize

    block content

    footer.bs-footer
      
    //- Parent script block precedes the statements of those who extend/derive from this
    //-script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    //-script(src='http://code.jquery.com/jquery-latest.js')
    script(src='jquery/jquery.js')
    
    if env.NODE_ENV == 'development'
      script(src='js/bootstrap.js')
    else
      script(src='js/bootstrap.min.js')
    //-script(src="less.js" type="text/javascript")

    block script

    block suffix