doctype 5
html
  head
    //- Parent style block precedes the statements of those who extend from this

    link(rel='stylesheet', href='stylesheets/bootstrap-custom-theme.css')
    //-div
      if env.NODE_ENV == 'development'
        link(rel='stylesheet', href='/css/bootstrap.css')
      else
        link(rel='stylesheet', href='/css/bootstrap.min.css')
    //-div
      if env.NODE_ENV == 'development'
        link(rel='stylesheet', href='font-awesome/css/font-awesome.css')
      else
        link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
    //- Use 'less' dir to alter FA vars (such as @FontAwesomePath)
    link(rel='stylesheet', href='font-awesome/less/font-awesome.css')
    
    link(rel="stylesheet" href="stylesheets/style.css")
    link(rel="stylesheet" href="stylesheets/my-flags.css")

    block style
  body
    header(data-i18n='app.name')

    // Use .navbar-static-top to eliminate the border radius
       Use code .navbar-right to right-align link and dropdown
       Use code .pull-right in the right-aligned code .dropdown-menu so that the menu isn't cutoff
    nav.navbar.navbar-inverse.navbar-fixed-top
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Title
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active: a(href='#') Home
          //li: a(href='#') Link
          //li: a(href='#') Link
        //form.navbar-form.navbar-left(role='search')
          .form-group
            input.form-control(type='text', placeholder='Search')
          button.btn.btn-default(type='submit') Submit
        ul.nav.navbar-nav.navbar-right
          li: a(href='/CV')= t('nav.CV')
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Pick language
              b.caret
            ul.dropdown-menu.pull-right
              li
                a(href='#') English
                  span.bfh-languages(data-language='en', data-flags='true')
                    i.myflags-us
                    i.myflags-uk
                    i.myflags-ca
                a(href='#') French
                  span.bfh-languages(data-language='fr', data-flags='true')
                    i.myflags-ca-qc
                    i.myflags-fr

              li
                a(href='#') Another action
              li
                a(href='#') Something else here
              li
                a(href='#') Separated link
  
    //.navbar2.i18n
      h1= t('app.selectlanguage')
      ul 
        li: a#de(href='/?setLng=de-DE')= t('app.german')
        li: a#de(href='/?setLng=en-US')= t('app.english')
        li: a#de(href='/?setLng=fr-FR')= t('app.french')

      ul.nav
        li: a(href='#')= t('nav.home')
        li: a(href='#')= t('nav.page1')
        li: a(href='#')= t('nav.page2')
        li: a(href='/CV')= t('nav.CV')

    //-header.navbar.navbar-inverse.navbar-fixed-top.bs-docs-nav(role='banner')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='../') Bootstrap
        nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
          ul.nav.navbar-nav
            li.active
              a(href='../getting-started') Getting started
            li
              a(href='../css') CSS
            li
              a(href='../components') Components
            li
              a(href='../javascript') JavaScript
            li
              a(href='../customize') Customize

    block content

    footer.bs-footer
      
    //- Parent script block precedes the statements of those who extend/derive from this
    //-script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    //-script(src='http://code.jquery.com/jquery-latest.js')
    script(src='jquery/jquery.js')
    
    if env.NODE_ENV == 'development'
      script(src='js/bootstrap.js')
    else
      script(src='js/bootstrap.min.js')

    //span
      if env.NODE_ENV == 'development'
        script(src='moment/min/moment-with-langs.js')
      else
        script(src='moment/min/moment-with-langs.min.js')
    
    //script(src='i18next/lib/i18next.js')

    block script

    block suffix