doctype 5
html
  head
    script(src='jquery/jquery.js')
    
    if env.NODE_ENV == 'development'
      script(src='js/bootstrap.js')
    else
      script(src='js/bootstrap.min.js')

    script(src='javascripts/toc.js')
    script(src='javascripts/sidebar2.js')

    
    //- Configure the sidebar
    script.
      $(document).ready(function( event ) {
        //$(".bs-sidenav li > a[href]").css("background-color","green");
        $("#toc").toc({
          'selectors': ['h1', 'h2', 'h3', 'h4', 'h5'],
          'ulClass': 'nav',
          'anchorName': function(i, heading, prefix) { //custom function for anchor name
            //console.log('anchorName: ' + i + ', ' + heading.innerText + ', ' + prefix);
            return prefix + i;
          },
          'headerText': function(i, heading, $heading) { //custom function building the header-item text
            //console.log('headerText: ' + i + ', ' + heading + ', ' + $heading);
            return $heading.text();
          },
          'itemClass': function(i, heading, $heading, prefix) { // custom function for item class
            //console.log('itemClass: ' + i + ', ' + heading + ', ' + $heading + ', ' + prefix);
            //return $heading[0].tagName.toLowerCase();
          }        
        });
      });

    link(rel='stylesheet', href='stylesheets/bootstrap-custom-theme.css')
    link(rel='stylesheet', href='stylesheets/sidebar.css')

  body
    .container
        .row
          section.col-md-3
            .bs-sidebar
              #toc
          section.col-md-6
            h1 H1
            p Content blah blah blah
            p Content blah blah blah
            p Content blah blah blah
            h2 H2
            p Content blah blah blah
            p Content blah blah blah
            p Content blah blah blah
            h3 H3
            p Content blah blah blah
            p Content blah blah blah
            p Content blah blah blah
            h4 H4
            p Content blah blah blah
            p Content blah blah blah
            p Content blah blah blah
            h5 H5
            p Content blah blah blah
            p Content blah blah blah
            p Content blah blah blah
            h1 H1
            p Content blah blah blah
            p Content blah blah blah
            p Content blah blah blah
            h2 H2
            p Content blah blah blah
            p Content blah blah blah
            p Content blah blah blah
            h3 H3
            p Content blah blah blah
            p Content blah blah blah
            p Content blah blah blah
            h4 H4
            p Content blah blah blah
            p Content blah blah blah
            p Content blah blah blah
            h5 H5
            p Content blah blah blah
            p Content blah blah blah
            p Content blah blah blah
            h1 H1
            p Content blah blah blah
            p Content blah blah blah
            p Content blah blah blah
            h2 H2
            p Content blah blah blah
            p Content blah blah blah
            p Content blah blah blah
            h3 H3
            p Content blah blah blah
            p Content blah blah blah
            p Content blah blah blah
            h4 H4
            p Content blah blah blah
            p Content blah blah blah
            p Content blah blah blah
            h5 H5
            p Content blah blah blah
            p Content blah blah blah
            p Content blah blah blah
