@import "../../node_modules/bootstrap/less/variables.less";
//@panel-inner-border:          #2d4;
//@panel-primary-border:        #2d4;

@sidebar-color:                 lighten(black, 15%);
@sidebar-bg:                    #fff;
@sidebar-border:                @brand-primary;

@sidebar-inner-border:          black;
@sidebar-border-radius:         @border-radius-base;

@sidebar-hover-color:           @sidebar-color;
@sidebar-hover-bg:              lighten(@sidebar-color, 50%);
@sidebar-hover-border:          black;

@sidebar-active-color:          @component-active-color;
@sidebar-active-bg:             @component-active-bg;
@sidebar-active-border:         @sidebar-active-bg;

