/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */
@import "custom-variables.less";

.bs-sidebar {
  position: fixed;
  //top: 50px;
  margin-top: 10px;
  //z-index: 1100;

  * {
    color:            @sidebar-color;
    background-color: @sidebar-bg;
    border-radius:    @sidebar-border-radius;
  }

  // All levels of nav
  // Note: display: none removes the element out of the flow of the html whereas visibility:hidden does not.
  .nav {
    &> li {
      &> a {
        //display: block;
        //padding: 5px 20px;
        //color:          @sidebar-color;
        border:           1px solid @sidebar-border;
      }
      &> a:hover,
      &> a:focus {
        //text-decoration: none;
        color:            @sidebar-hover-color;
        background-color: @sidebar-hover-bg;
        font-weight:        bold;
        //font-size:        larger; // also has the effect of changing the width of the sidebar (which has been locked in js load and resize handlers)
        border-color:     @sidebar-hover-border;
        //border-right:     2px solid @sidebar-inner-border;
      }
    }
    &> .active > a,
    &> .active:hover > a,
    &> .active:focus > a {
      font-weight:        bold;
      color:              @sidebar-active-color;
      background-color:   @sidebar-active-bg;
      border-right:       2px solid @sidebar-inner-border;
    }

    // Nav: second level (shown on .active)
    .nav {
      display: none; // Hide by default, but at >768px, show it
      //margin-bottom: 8px;
    
      &> li > a {
        padding-top:    3px;
        padding-bottom: 3px;
        padding-left:   30px;
        font-size:      90%;
      }
    }
  }
  // Show and affix the side nav when space allows it
  @media screen and (min-width: 768px) {
    .nav {
      &> .active > ul,
      &> .active:hover > ul,
      &> .active:focus > ul {
        display: block;
      }
    }
  }
}
