svg(
  xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', 
  xmlns:xlink="http://www.w3.org/1999/xlink",
  xmlns='http://www.w3.org/2000/svg', 
  height='480', width='640', 
  version='1.1', 
  xmlns:cc='http://creativecommons.org/ns#', 
  xmlns:dc='http://purl.org/dc/elements/1.1/')
  metadata
    rdf:rdf
      cc:work(rdf:about='')
        dc:format image/svg+xml
        dc:type(rdf:resource='http://purl.org/dc/dcmitype/StillImage')
  defs
    style(type="text/css").
      <![CDATA[
       .outline { /*fill: none;*/ stroke: black; stroke-width: .2; }
       .white { fill: #fff; }
       .red { fill: red; }
      ]]> 
    clipPath#clip2
      rect(width='58', height='30', x='0', y='0', fill-opacity='1', fill='#000')

    //- Saint-George is a red on white background
    //- Saint-Andrew's cross is the diagonal white cross on a blue background
    //- Saint Patrick's Saltire is a diagonal red cross on white background
    //- Thanks to: http://www.jdawiseman.com/papers/union-jack/union-jack.html

    g#diagonal-bar-bg
      g(transform='translate(-32.65 -3)')
        rect( height='6', width='65.3')
    g#diagonal-bar-fg
      g(transform='scale(-1 1)')
        g(transform='translate(0 0)')
          rect(height='2', width='32.65')
      g(transform='scale(1 -1)')
        g(transform='translate(0 0)')
          rect(height='2', width='32.65')

    g#diagonal-cross-bg
      g(transform='translate(29 15)')
        g(transform='rotate(27.3)')
          use(xlink:href='#diagonal-bar-bg')
        g(transform='rotate(-27.3)')
          use(xlink:href='#diagonal-bar-bg')
    g#diagonal-cross-fg
      g(transform='translate(29 15)')
        g(transform='rotate(27.3)')
          use(xlink:href='#diagonal-bar-fg')
        g(transform='rotate(-27.3)')
          use(xlink:href='#diagonal-bar-fg')

    g#cross-1
      g(transform='translate(29 0)')
        rect(x='-5', height='30', width='10')
      g(transform='translate(0 15)')
        rect(y='-5', height='10', width='58')
    g#cross-2
      g(transform='translate(29 0)')
        rect(x='-3', height='30', width='6')
      g(transform='translate(0 15)')
        rect(y='-3', height='6', width='58')

  g(transform='scale(11.1)')
    g(transform='scale(1 1.45)', clip-path='url(#clip2)')
      //- fill='midnightblue'
      rect(height='30', width='58', fill='#191970')
      //- Draw outlines separately
      g#diagonal-cross
        use(xlink:href='#diagonal-cross-bg').outline
        use(xlink:href='#diagonal-cross-bg').white
        use(xlink:href='#diagonal-cross-fg').outline
        use(xlink:href='#diagonal-cross-fg').red
      g#horizontal-cross
        use(xlink:href='#cross-1', fill='none').outline
        use(xlink:href='#cross-1', fill='white')
        use(xlink:href='#cross-2', fill='none').outline
        use(xlink:href='#cross-2', fill='red')
